

.info{
       
       // padding: 10% 0 10% 10%;
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        font-weight: bold;
        align-items: center;
        text-align: center;
        justify-content: center;
   
        
    }