.card {
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 450px;
  background-color:$white;
  border-radius: 35px;
  padding-left: 25px;
  justify-content: center;
  letter-spacing: 1px;
  box-shadow: 3px 3px 3px 3px rgba(255, 116, 116, 0.62);
  margin: 10px;
  
 span{
  font-size: 1.2em;
 }

  > .card-title {
    height: 9%;
    display: flex;
    justify-content: center;
    
  }

  > .prepa {
    height: 35%;
   
    
  }

  > .step {
    height: 15%;
    
  }

  > .card-footer {
    height: 15%;
    
  }

  > .notice {
    height: 10%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
  }
}
