
/*Variable sass*/

$backContainer: #f8f9fb;
$navbar: #564939;
$deco:#618062;
$decoFonce:#243324;

$font-family: 'Indie Flower', cursive;
$font-size: 16px;

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: $font-family;
}

body{
    min-height: 100vh;
   background: url("../assets/images/bois.jpg") no-repeat fixed 10% 10%;
  // background-color: #52787e;
  // background: #c669be;
  // background: linear-gradient(160deg,#ecaae6 0%, #e1d0e7 80%);
   font-family: $font-family;
   font-size: $font-size;
}

a{
   color: $decoFonce;
}

h1,h2{
    color:$decoFonce;
    text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
    font-size: 2em;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
    min-height: 50vh;
    width: 95%;
    background-color: $backContainer;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.trait{
    height: 3px;
    width: 70%;
    background-color: $deco;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

input{
    background-color: $deco;
    box-shadow: 6px 5px 8px 1px rgba(0,0,0,0.75) inset;
}

input::placeholder{
    color: $decoFonce;
    font-size: medium;
}

button{
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border-color:$decoFonce;
    background-color: $deco;
    font-size: medium;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

fieldset{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/************************************MEDIAQUERIES******************************************/
@media screen and (min-width: 640px){
    
    h2{
        font-size: 3em;
    }

    p{
        font-size: 2em;
    }
}