*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}

body{
   
    background-color: rgb(122, 122, 122);
    background: url("../assets/images/fruits.jpg") no-repeat fixed 100% 100%;
}

a{
    color: white;
}

.container{
    margin: auto;
    height: auto;
    width: 95%;
    background-color: rgb(138, 145, 151);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}



.btn {
    display: flex;
    height: 50px;
    width: 30%;
    background-color: red;
    margin: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}