.card {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 55vh;
  width: 90%;
  background-color:$backContainer;
  border-radius: 35px;
  border: 2px solid $decoFonce;
  justify-content:space-around;
  padding-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  
 span{
  font-size: 1.2em;
 }

 strong{
  color: $decoFonce;
 }

  > .card-title {
    height: 9%;
    display: flex;
    justify-content: flex-start;
    text-transform: capitalize;
    margin: 20px;
    
  }

  > .notice {
    height: 10%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
  }
}
